@font-face {
    font-family: coderflix;
    src: url(https://raw.githubusercontent.com/viHernandes/filmes-project-coderhouse/main/assets/BebasNeue-Regular.woff);
}

body {
    background-image: linear-gradient(to left, #262163, black);
}

.title {
    font-family: coderflix;
    color: white;
}

.movie__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 0 0 1rem;
    background-color: white;
}

.movie__picture--border {
    border-radius: .5rem;
    margin: 1rem 0 1rem 0;
}

.movie__text {
    border-radius: 0 1rem 1rem 0;
    background-color: white;
}

.final {
    text-align: center;
    background-color: rgba(33, 37, 41, 0.5);
    color: white;
    padding: 10px;
    bottom: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .movie__title {
        text-align: center;
    }

    .movie__picture {
        margin-bottom: 1rem;
        border-radius: 0;
        background-color: transparent;
    }
    
    .movie__text {
        border-radius: 1rem;
    }
}