@font-face {
    font-family: coderflix;
    src: url(https://raw.githubusercontent.com/viHernandes/filmes-project-coderhouse/main/assets/BebasNeue-Regular.woff);
}

body {
    background-image: linear-gradient(to left, #262163, black);
    color: white;
}

.title {
    font-family: coderflix;
    color: white;
}

.image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.final {
    text-align: center;
    background-color: rgba(33, 37, 41, 0.5);
    color: white;
    padding: 10px;
    bottom: 0;
    margin-bottom: 0;
}

#btn-back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

@media screen and (max-width: 768px) {
    .movie__title {
        text-align: center;
    }

    .movie__picture {
        margin-bottom: 1rem;
        border-radius: 0;
        background-color: transparent;
    }
    
    .movie__text {
        border-radius: 1rem;
    }
}