:root {
    
}

@font-face {
    font-family: coderflix;
    src: url(https://raw.githubusercontent.com/viHernandes/filmes-project-coderhouse/main/assets/BebasNeue-Regular.woff);
}

body {
    background-image: linear-gradient(to left, #262163, black);
}

.initial {
    overflow: hidden;
    position: relative;
}

.initial__bg {
    opacity: 0.3;
    position: absolute;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 200%;
    max-height: 160vh;
}

.content {
    position: relative;
}

.initial__title {
    font-family: coderflix;
    color: #DB202C;
    font-size: 65px;
}

.main {
    position: relative;
    min-height: calc(100vh - 100px);
}

.title {
    font-family: coderflix;
    color: white;
}

.footer {
    background-color: rgba(33, 37, 41, 0.5);
}

.icons {
    max-width: 40px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .initial__bg {
        max-height: 165vh;
    }
}

@media screen and (min-width: 992px){
    .initial__bg {
        max-height: 120vh;
    }
}

@media screen and (min-width: 1200px){
    .initial__bg {
        max-height: 110vh;
    }
}